/* All of the default  */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.topnav {
  background-color: #fff;
  overflow: hidden;
  height: 65px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
  top: 40%;
  z-index: 10;
}

/* Change the color of links on hover */

.topnav a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.topnav a:hover::after {
  width: 100%;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 619px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media (max-width: 619px) {
  .topnav.responsive {
    position: relative;
    height: 200%;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (max-width: 341px) {
  .topnav a.icon {
    float: right;
    display: block;
    transform: translate(9px, -48px);
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 18%;
  }
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

section .leftBox .content {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
  width: 70%;
  position: relative;
  left: 15%;
  top: 50%;
  height: 125%;
}

section .events ul {
  position: relative;
  left: 20%;
  transform: translateY(-120%);
  margin-right: 5px;
  padding: 10px 10px 65px;
  box-sizing: border-box;
  border: 1px solid black;
  height: auto;
  width: 90%;
  bottom: -375px;
  top: 40%;
}
section.coaches {
  text-align: center;
  font-size: 30px;
}
/* Header */
.main {
  display: flex;
  width: 100%;
  background-position: center;
  background: url("./images/pexels-alexander-nadrilyanski-3651674.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.keyword {
  color: #f44336;
  font-family: "Josefin Sans", sans-serif;
}
.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: max-width 0.4s;
  -o-transition: max-width 0.4s;
  transition: max-width 0.4s;
  max-width: 1256px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 920px;
}
.message {
  font-family: "Josefin Sans", sans-serif;
  z-index: 2;
  font-style: normal;
  font-weight: 600;
  font-size: 76px;
  line-height: 1.11;
  text-align: center;
  color: #fff;
}

p.tagline {
  position: relative;
  z-index: 2;
  margin: 24px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  max-width: 90%;
}

p.keyword {
  color: #f44336;
  font-family: "Josefin Sans", sans-serif;
}

.hero-btn-main {
  position: relative;
  border: 2px solid #f44336;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #f44336;
  padding: 9px 20px 11px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
  margin-top: 24px;
  text-decoration: none;
}

.hero-btn-main:hover {
  border: 1px solid #fff;
  transition: 1s;
  background-color: #f44336;
  text-align: center;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Why us styling */

.darken {
  background-color: rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  justify-content: space-between;
}

label.logo {
  color: #f44336;
  font-size: 35px;
  line-height: 70px;
  padding: 0 50px;
  font-weight: bold;
  background-color: #fff;
  height: 65px;
}

/* Nav bar */
.nav {
  height: 80px;
  background-color: #e0e25b;
  width: 100%;
  color: black;
  z-index: 999;
}

.nav-links {
  flex: 1;
  text-align: right;
  background-color: #fff;
  color: #e0e25b;
}

.nav-links ul {
  float: right;
  margin-right: 20px;
}

.nav-links ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-links ul li a {
  color: #000;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}
.textbox {
  width: 90%;

  color: #555;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Home screen logo and paragraph */

.skew:hover {
  transform: scale(1.3) translate(20px, 20px);
  background-color: #f44336;
}

.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff3f3;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #f5f5f5;
}

.text-box h1,
a.skew {
  font-size: 61px;
  text-align: center;
  display: block;
  border: 1px solid #fff3f3;
  background: linear-gradient(to bottom, #f5f5f5, yellow);
  transform: skewY(-5deg);
  width: 1000px;
  height: auto;
  position: relative;
  top: 150px;

  left: 20%;
}
@keyframes enalrge {
  50% {
    transform: scale(1.5) rotate(20deg);
  }
}
@keyframes boxAnimation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-box p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 1200px;
  height: auto;
  font-size: 20px;
  left: 150px;
  text-align: center;
  position: relative;
  top: 250px;
  transform: rotate(-3deg);
  border: 1px solid #fff;
  background: linear-gradient(#333, #333 50%, #333 75%);
  border-radius: 20%;

  color: #e0e25b;
  animation-name: boxAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;

  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  transition-duration: 250ms;
  transition-delay: 100ms;
  transition-property: color, text-shadow;
  transition-timing-function: ease-in-out;
}

.text-box p:hover {
  cursor: pointer;
}
/* Calendly  */
.hero-btn {
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid#555;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;

  cursor: pointer;
  text-align: center;
  background-color: #555;
  bottom: -20px;
}

.hero-btn:hover {
  border: 1px solid #fff;
  transition: 1s;
  background-color: #e0e25b;
  text-align: center;
  color: #fff;
}
/* About section */

.about-section {
  padding: 80px 0;
  text-align: center;
  background-color: #ffffff;
}
.about-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.about-desc {
  width: 920px;
  max-width: calc(100% - 48px);
  margin: 0px auto;
}

.about-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: calc(100% - 48px);
  margin: 0 auto;
  margin-top: 40px;
}

.about-card {
  max-width: 385px;
  background: #fff3f3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  transition: transform 0.3s ease;
}

.about-card > h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.about-card > p {
  font-size: 16px;
}
/* Why us styling */
/* Vision and mission statement */
.slider-image-row {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 46%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  width: 300px;
  font-size: smaller;
  transition: 0.5s;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 8%;
  position: relative;
  bottom: 50px;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 320px;
  height: 570px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
}

.body-container {
  position: relative;
}

.overlay {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(24, 83, 122, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}
/* Event styling */
.event-info {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.event-card-details a {
  color: #555;
  text-decoration: none;
}

.event-card-details a:hover{
  text-decoration: underline;
  
}

.event-card-details a:active{
  color: #f44336;
  
}

.title,
.price {
  color: #e0e25b;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
  color: #e0e25b;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #e0e25b;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
  color: #e0e25b;
}

.info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#flexbox {
  display: flex;
  flex-direction: row;
  flex-basis: 46%;
  row-gap: 30px;
  margin-bottom: 10%;
  align-items: center;
}

/* Gallery  */

@keyframes slider {
  0% {
    background-image: url("./images/football-488714_640.jpg");
  }
  35% {
    background-image: url("./images/football-257489_640.webp");
  }
  75% {
    background-image: url("./images/football-1396740_640.jpg");
  }
}
.main-div {
  width: 70%;
  height: 400px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/football-488714_640.jpg");
  background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px #a9a8a8;
  animation: slider 9s infinite linear;
}

.card {
  display: inline-block;
  height: 570px;
  width: 320px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px 5px;
}

.card:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.card:hover .card-title {
  text-decoration: underline;
}

.card-text {
  padding: 10px;
}

.card-title {
  font-weight: 900;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.card-content {
  padding: 10px 0 15px;
  font-size: 14px;
}
.gallery-section {
  padding: 80px 0;
  text-align: center;
  background-color: #f9f9f9;
}
.gallery-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.gallery-images img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s, transform 0.3s;
}

.gallery-images img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* footer */

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff3f3;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
  content: #f3f3f3;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #e0e25b;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #e0e25b;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #e0e25b;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #f3f3f3;
}
.center .content .phone {
  margin: 15px 0;
  color: #f3f3f3;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fff3f3;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #f3f3f3;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 150%;
  border: none;
  outline: none;
  background: #555;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  transform: translateX(-19%);
}
.right form .btn button:hover {
  background: #e0e25b;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #fff3f3;
}
.bottom center a {
  color: #e0e25b;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 900px;
  }
  .message {
    font-size: 62px;
  }
  p.tagline {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 720px;
  }
  .message {
    font-size: 48px;
  }
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    max-width: 720px;
  }
  .message {
    font-size: 36px;
  }
  p.tagline {
    font-size: 16px;
  }
  .hero-btn-main {
    font-size: 14px;
  }
}

div.content p {
  color: #f3f3f3;
}

/* new gallery */

.container1 {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.slider-image-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media (max-width: 1521px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 1%;
    height: 750px;
    transform: translateY(-20%);
    align-items: normal;
    margin: 80px 0 0 0;
  }
  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 70%;
    position: relative;
    left: 150px;
  }
  .slider-image-row {
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 65px;
    flex-direction: row;
    flex-grow: 100%;
  }

  label.logo {
    color: #f44336;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    background-color: #fff;
    height: 65px;
  }

  .nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }

  section .leftBox .content h1 {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    text-transform: uppercase;
  }

  section .leftBox .content p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 1.35vh;
  }

  section .events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5vh;
    line-height: 90%;
  }
  section .events ul li .time h2 span {
    font-size: 15px;
  }

  section .events ul li .details h3 {
    position: relative;
    margin: -10;
    padding: 0;
    font-size: 15px;
  }

  section .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 1.2vh;
    margin-left: 10px;
  }

  section .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 12px;
    transition: 0.5s;
    color: #000;
  }

  section .events ul {
    position: relative;
    left: 50%;
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
    width: 90%;
    bottom: 175px;
  }

  section .leftBox {
    width: 90%;
    height: 40%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    right: 15%;
  }
}

section .events ul li .details {
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 70%;
  float: left;
}
section .events ul li .time {
  position: relative;
  padding: 2px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 90%;
  float: left;
  text-align: center;
  transition: 0.5s;
}
section .events {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  margin-top: 250px;
}

@media (max-width: 1247px) {
  section .events ul {
    position: relative;
    left: 120%;
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
    width: 90%;
    bottom: 175px;
  }

  section .events {
    position: relative;
    width: 90%;
    height: 50%;
    float: right;
    box-sizing: border-box;
    margin-top: -450px;
    right: 35%;
  }
  section .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 12px;
    transition: 0.5s;
    color: #000;
    margin-left: 30px;
  }

  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 90%;
    position: relative;
    left: 5%;
    top: 50%;
    height: 145%;
  }

  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 36%;
    height: 750px;
    transform: translateY(-20%);
    align-items: normal;
    margin: 80px 0 0 0;
  }
  section .events {
    position: relative;
    width: 90%;
    height: 50%;
    float: right;
    box-sizing: border-box;
    margin-top: 10px;
    left: -99%;
  }
  section .events ul li .details a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: 1.5px solid #262626;
    margin-top: 8px;
    font-size: 12px;
    transition: 0.5s;
    color: #000;
  }
}

/* section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: .5s;
    width: 70%;
    position: relative;
    left: 50px;
}
section .events ul {
    position: relative;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
    width: 80%;
    bottom: 75px;
}  */

.blockquote-wrapper {
  display: flex;
  height: 100vh;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 30px 0;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  margin: 80px auto;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  color: transparent;
}

/* Blockquote header */
.blockquote h1 {
  font-size: 90px;
  font-family: "Pacifico", cursive;
  display: inline-block;
  color: #e0e25b;
  transition: all 250ms ease-in-out;
  width: 100%;

  transition: 1s all ease-out;
  animation-name: enlarge;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}

/* increase header size after 600px */
@media all and (max-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #292a2b;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

/* Add a black background color to the top navigation */

@media (max-width: 678px) {
  section .leftBox {
    width: 125%;
    height: 25%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    bottom: 22%;
    margin: 10% 0 0 0;
    left: 0%;
  }
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 115%;
    height: 750px;
    transform: translateY(-20%);
    align-items: normal;
    margin: 15% 0 18% 0;
  }

  section .leftBox {
    width: 115%;
    height: 25%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    bottom: 22%;
    top: -10%;
  }

  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: 0.5s;
    width: 93%;
    position: relative;
    left: 0.5%;
    top: 180%;
    height: 290%;
  }

  section .events ul {
    position: relative;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    bottom: 75px;
  }

  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: 0.5s;
    width: 70%;
    position: relative;
    left: 25px;
    top: 114px;
  }
  section .leftBox .content p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 9px;
  }
  section .events ul li .details p {
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    font-size: 9px;
  }
  .coaches h1 {
    font-size: 3vh;
  }
  section .events ul li .details h3 {
    position: relative;
    padding: 0;
    font-size: 10px;
  }
  section .events ul li .time h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 15px;
    line-height: 30px;
  }

  section .leftBox .content h1 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-transform: uppercase;
  }

  section.coaches {
    text-align: center;
    font-size: 20px;
    position: relative;
    transform: translateY(-18%);
  }
}

@media (max-width: 454px) {
  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: 0.5s;
    width: 70%;
    position: relative;
    left: 1.5%;
    top: 114px;
  }
}

@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #292a2b;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

@media (max-width: 546px) {
  .coaches h1 {
    font-size: 45px;
    position: relative;
  }
  section.coaches {
    text-align: center;
    font-size: 30px;
    position: relative;
  }

  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 95%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 28% 0;
  }
}

@media (max-width: 907px) {
  .nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }

  label.logo {
    color: #f44336;
    font-size: 25px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    background-color: #fff;
  }
}

@media (max-width: 818px) {
  section .leftBox {
    width: 90%;
    height: 165%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    right: 15%;
    bottom: 15%;
  }
  section .events ul {
    position: relative;
    left: 120%;
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
    width: 90%;
    top: -140%;
  }
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 115%;
    height: 750px;
    transform: translateY(-20%);
    align-items: normal;
    margin: 6% 0 30% 0;
  }
}

.header {
  height: 65px;
}

.letter {
  font-size: 90px;
  font-family: "Pacifico", cursive;
  display: inline-block;
  color: #e0e25b;
  transition: all 250ms ease-in-out;
}

.letter.active {
  transform: scale(1.5) rotate(20deg);
  color: #e0e25b;
}

@media (max-width: 600px) {
}

@media (max-width: 725px) {
  section .leftBox {
    width: 95%;
    height: 105%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    bottom: 22%;
  }

  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 105%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 30% 0;
  }

  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 90%;
    position: relative;
    left: 2%;
    top: 50%;
    height: 145%;
  }
}

@media (max-width: 695px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 109%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 30% 0;
  }
}

@media (max-width: 687px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 92%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 28% 0;
  }

  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 90%;
    position: relative;
    left: 7%;
    top: 50%;
    height: 145%;
  }
}

@media (max-width: 521px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 96%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 34% 0;
  }
}

@media (max-width: 518px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 99%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 49% 0;
  }
}

@media (max-width: 411px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 103%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 61% 0;
  }
}

@media (max-width: 377px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 103%;
    height: 750px;
    transform: translateY(-15%);
    align-items: normal;
    margin: 6% 0% 73% 0;
  }
  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 90%;
    position: relative;
    left: 7%;
    top: 50%;
    height: 135%;
  }
}

@media (max-width: 361px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 103%;
    height: 750px;
    transform: translateY(-20%);
    align-items: normal;
    margin: 3% 0% 78% 0;
  }
  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 90%;
    position: relative;
    left: 7%;
    top: 50%;
    height: 124%;
  }
}

@media (max-width: 340px) {
  #flexbox {
    display: flex;
    flex-direction: column;
    flex-basis: 46%;
    row-gap: 103%;
    height: 750px;
    transform: translateY(-20%);
    align-items: normal;
    margin: 3% 0% 90% 0;
  }
  section .leftBox .content {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: 0.5s;
    width: 90%;
    position: relative;
    left: 7%;
    top: 50%;
    height: 124%;
  }
}


@media (max-width: 441px) {
  section.coaches {
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: -126px;
  }
}
